body {
    background: white;
}

#noteArea {
    padding-top: 30px;
    padding-bottom: 12px;
}

#noteField {
    min-height: 340px;
    font-family: Hack, monospace;
    border: none !important;
    background: none !important;
}

#errorMessage {
    z-index: 9999;
}